.footer {
    background: linear-gradient(155deg, rgb(240, 222, 255), rgba(192, 161, 235, 0.855) 95%);
    color: rgb(20, 20, 20);
    &__link-icon {
        height: 25px;
        aspect-ratio: 1;
        fill: var(--dark-purple);
        transition: all 150ms ease;
    }

    &__link-icon:hover {
        scale: 1.05;
    }

    &__myname {
        font-family: var(--roboto-mono);
        font-weight: 500;
    }

    &__visits {
        letter-spacing: 0.05rem;
    }
}