:root {
    --light-lila: #f5f5f5;
    --lila: #EDDFFF;
    --purple: #A142FF;
    --dark-purple: #33115E;
    --light-purple: #F4EBFF;
    --roboto-flex: "Roboto Flex", sans-serif;
    --roboto-mono: "Roboto Mono", monospace;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: var(--roboto-flex);
    background-color: var(--light-lila);
}

button,
input,
label,
textarea,
strong,
a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.container {
    width: 95vw;
    margin: 0 auto;
}

@media(min-width: 769px) {
    .container {
        width: min(88vw, 1600px);
    }
}